[Unit]
Description=This was made by RedTeam, you should remove it
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/test

[Install]
WantedBy=multi-user.target
